.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-raleway {
  font-family: 'Raleway', serif;
}

.font-arial{
	font-family: Arial, Helvetica, sans-serif;
}

.italic {
	font-style: italic;
}

