/*/*/*font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/

header { 
  
}

.logo img { 
  font-size: 1px;
  width:-2px;
  height:35px;
  padding: 20px;
}
            
.ex {
}

.item {
 
}

h2 {
  padding: 25px;
}

.alohaapp {
  padding-bottom: 3em;
}

.current {
  padding: 15px;
}


.banner-heading {
  margin: 0;
  padding: 1em;
  font-size: 20px
}

.cart {
  max-width: 100%;
}

.cart-img {
  width: 3em;
}

nav {
 /* display: inline-flex;
  justify-content: center;
  align-items: center; */

  
  flex-wrap: wrap;
           
}

nav > ul {
  list-style: none;
  margin:0;
  padding:0;
  overflow:hidden;
}

nav > ul > li{
  font-family: 'Raleway', sans-serif;
  font-size:1em;
  float:right;
  padding:2em 1em 2em 1em;
}

nav > ul > li > a{
  text-decoration: none;
  color:#000;
}

nav > ul > li > a:hover,
nav > ul > li > a:active 
{
  color:red ;
}

li > a > img{

  width:30px;
  height:30px;
  margin: -5px 0 0 0;

}

nav a{
  color:orange;
  transition: all 5s ease;
 
}


.banner {  
   line-height: 70%;
   width: 100%;
   background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("Images/banner-girl.png"), url("Images/flower.jpg"); 
          /*background-size: 20%, 100%;*/
   height: 400px ;
  background-repeat: no-repeat, no-repeat;
   background-size: cover, contain;
   background-position: top, center 2em;
   font-size: 25px;  

}

.spring {

  padding: 1em;
  color:black;
  font-size: 100px;
}

/* Image Grid CSS Code for Mobile 

  .men-item{
        background: url("./Images/mens-category.jpg") center no-repeat;
        background-size:cover;
        flex-basis:50%;
        padding:20rem 0;
        border-bottom: 5px solid #fff;
    }
    
    .trends-item{
        background: url("./Images/trends-category.jpg") center no-repeat;
        background-size:cover;
        flex: 0 0 50%;
        padding:10em 0;
    }
    
    .glasses-item{
        background: url(./Images/glasses-category.jpg) center no-repeat;
        background-size:cover;
        flex: 0 0 50%;
        padding:10em 0;
    }
    
    .sale-item{
        background: url(./Images/sale-category.jpg) center no-repeat;
        background-size:cover;
        flex: 0 0 50%;
        padding:10em 0;
    }
    
    .bags-item{
        background: url(./Images/bags-category.jpg) center no-repeat;
        background-size:cover;
        flex: 0 0 50%;
        padding:10em 0;
    }
    
    .womens-item{
        background: url(./Images/womens-category.jpg) center no-repeat;
        background-size:cover;
        flex-basis:50%;
        padding:10em 0;
    }


/* End Image Grid CSSS Code for Mobile */

.box {
    color: white;
    text-align: center;
}

.box1{
  display: flex;
  flex-direction: column;
}

.box2{
    display: flex;
    flex-direction: row;
    /*max-width: 100%;*/
}

.box3 {
  display: flex;
  flex-direction: column;
}

.box4{
    display: flex;
    flex-direction: row;
}
  

.mens{
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), 
    url("./Images/mens-category.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 0;
    flex-basis:50%;
    margin-bottom: 0.5em;
  }

  .trends{
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
                url("./Images/trends-category.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis:50%;
    padding: 5rem 0;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}


.glasses {background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
                      url("./Images/glasses-category.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
       flex-basis:50%;
      padding: 5rem 0;
      margin-bottom: 0.5em;
}

.sale {background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
                   url("./Images/sale-category.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis:50%;
    padding: 5rem 0;
     margin-bottom: 0.5em;
}


.bags {background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
                   url("./Images/bags-category.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
       flex-basis:50%;
      padding: 5rem 0;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
}

.womens {background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
                     url("./Images/womens-category.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
   flex-basis:50%;
      padding: 5rem 0;

}

.cta{
  text-align: center;
  margin-bottom: 20px; 

}
.product{

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap:nowrap;
  background-color: white;
  text-align: center;

}

.ProductLineHeight {
  line-height: 2.5em;
}

.product2{
  padding: 0px 0px 2px 0px;
}

.flex-dir-col {
  flex-direction: column;
  margin-bottom: 4px;
}
    
.sign {
  font-family: Arial, Helvetica, sans-serif;
  background-image:  url("Images/wave.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: center;
  color: white;
  
  height: 250px;
  font-size: 18px;

}

.stay {
  padding: 1em;
  line-height: 150%;
  font-size: 0.7em;

}

.subscribe {
/*justify-content: center-right;*/
  background-color: white;
  padding: 0.2em;
  border-radius: 0.5em;
  width: 14em;
}

.sign > h2{
  padding-bottom: 10px;
  padding-top: 50px;
  font-size: 25px;
  
}
.signup {
   padding-top: 70px;

}

.email {
  border: none;
  flex-grow: 2;
  padding: 0 2em;
  color: grey;
  margin-right: -6em;

}
.subscribe .button {
  color:white;
  background-color: red;
  border: none;
  border-radius:20em;
  padding: 0.5em;
  width:8em;
  height:fit;


}

footer{
   background-color: black;
   padding: 2em 1em;
   margin-top: 0.5em;
}


.contact {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-color: black;
  color: white;
  padding:0 2em;
  text-align: center;
  font-size: 12px;
}

.phone 
{
  padding: 30px 0px 30px 0px;

}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.info{
  text-decoration: underline;
}

.address {
  color: grey;
  padding-bottom: 2em;
}

.sm{
 display: flex;
 text-decoration: none;
 color:white;
  /*padding-top:1.5em;*/
}

.flex{
  display:flex;
}

.icon {
  width: 30%;
  word-spacing: 10px;
}

.fa{
  color: white;
}

.social {

     width:10rem;
}

.socialmedia{
  word-spacing: 10px;
}

.facebook,.twitter, .instagram, .pinterest, .googleplus {
  padding: 5px 0px 5px 0px;
}

/* Media Query */

@media only screen and (min-width: 1000px)

.box1{
  display:flex;
flex-direction:row;
}

.box2{
  display: flex;
  flex-direction: row;
}

footer{
   background-color: black;
   padding: 2em 1em;
}


.contact {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-color: black;
  color: white;
  padding:0 2em;
}

.phone 
{
  padding: 30px 0px 30px 0px;

}

.info{
  text-decoration: underline;
}

.address {
  color: grey;
}

.sm{
 display: flex;
 text-decoration: none;
 color:white;
  /*padding-top:1.5em;*/
}

.flex{
  display:flex;
}

.icon {
  width: 30%;
}

.fa{
  color: white;
}

.social {

     width:10rem;
}

.facebook,.twitter, .instagram, .pinterest, .googleplus {
  padding: 5px 0px 5px 0px;
}





  }/* End Desktop Media Query */

/* End Media Query */